*{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html, body{
  padding: 0;
  margin: 0;
  height: 100%;
}

.viewInfo {
  padding: 0.2em;
}

.viewInfoItem {
  display: inline;
}


@media (min-aspect-ratio: 2/1) {
  .viewWrapper {
    max-width: 1200px;
    width: 68%;
    margin: auto;
    height:auto;
  }
}

@media (max-aspect-ratio: 2/1) {
  .viewWrapper {
    max-width: 1200px;
    width: 84%;
    margin: auto;
    height:auto;
  }
}

.viewGame {
  margin: 2%;
}

.viewHeader{
  text-align: center;
  padding: 0.2em;
}

.viewContent {
  display: flex;
}

.viewContentLeft {
  flex: 0 0 62%;
  margin: 1%;
}

.viewContentLeftCanvas {
  margin: 1%;
}

.viewContentRight {
  flex: 1;
}

.viewContentRightEcholot {
  text-align: center;
  height: 48%;
  margin: 2%;
}

.viewContentRightButtons {
  text-align: center;
  height: 48%;
  margin: 2%;
}

.viewFooter{
  padding: 0.2em;
}
