
*{
  box-sizing: border-box;
  border: 1px solid black;
  margin: 0%;
  padding: 0%;
}

.viewWrapper {
  max-width: 800px;
  margin: auto;
}

.viewGame {
  background-color: yellow;
  margin-left: 3%;
  margin-right: 3%;
  margin-top: 1%;
}

.viewHeader{
  background-color: red;
  text-align: center;

}

.viewContent {
  background: darkred;
  margin: 1%;
  display: flex;
}

.viewContentLeft {
  background: white;
  flex: 0 0 50%;
}

.viewContentLeftCanvas {
  background: lightblue;
}

.viewContentLeftInfo {
  background: lightgreen;
}

.viewContentRight {
  background: orange;
  flex: 1;
}

.viewContentRightEcholot {
  background: violet;
  text-align: center;
  height: 50%;

}

.viewContentRightButtons {
  background: grey;
  text-align: center;
  height: 50%;
}

.viewFooter{
  background-color: green;
}
