
*{
  border: 1px solid black;
}

body{
  font-weight: 100;
}

.viewInfo {
  background: lightgreen;
}

.viewWrapper {
  background: aqua;
}

.viewGame {
  background: yellow;
}

.viewHeader{
  background: red;
}

.viewContent {
  background: darkred;
}

.viewContentLeft {
  background: white;
}

.viewContentLeftCanvas {
  background: darkblue;
}

canvas {
  background: blue;
}

.viewContentRight {
  background: orange;
}

.viewContentRightEcholot {
  background: violet;
}

.viewContentRightButtons {
  background: grey;
}

.viewFooter{
  background: green;
}
